<p>Bonjour ou Bonsoir,
	<br><br>
	Si tu as reçu ce message, c'est que tu souhaites envoyé ANONYMEMENT un petit message à la personne de ton choix de l'école.</p>
    <p>Clique sur ce lien sans perdre de temps ! Simplement pour confirmer ton adresse e-mail</p>

    Le lien expire dans pas longtemps, donc clique beaugosse.
    <a href="{{ signedUrl }}" style="color:red">Confirme ici</a>.
</p>    


<p>C'est un mail automatique, ça ne sers à rien d'y répondre.</p>

<p>Bien cordialement,
	<br><br>
	L'équipe MyDigitalSchool B3 DEVWEB.
</p>